<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<style>
    @keyframes fade-1 {
        0% { opacity: 1; }
        33% { opacity: 0; }
        66% { opacity: 0; }
        75% {opacity: 1;}
        95% {opacity: 1;}
        100% { opacity: 1; }
    }
    @keyframes fade-2 {
        0% { opacity: 0; }
        33% { opacity: 1; }
        66% { opacity: 1; }
        100% { opacity: 0; }
    }

    .yellow_col{
        background-color: #F2C94C;
        border-radius: 10px;
        padding: 15px;
    }

    .yellow_col:hover {
        background-color: black;
        color: white;
        transition: all .2s;
    }
    .gray_col{
        background-color: #90989C;
        border-radius: 10px;
        padding: 15px;
        text-color: black;
    }
    .gray_col:hover{
        background-color: black;
        color: white;
        transition: all .2s;
    }
    #footr{
        background-color:black;
    }

    .link-secondary, li{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 1.5;
        color: white;
        text-decoration: none;
    }

    h5{ color:white; }
</style>


<%= render "common/header_login" %>
<div style="margin:30px">
  <% if @account_created %>
    <center>
    <%= link_to 'Open Login Page', user_login_path, :class => 'btn grey_col btn-lg ' %>
    </center>
  <% end %>
  <% unless @account_created %>
    <h2>We Are Glad You Are Here!</h2>
    <h3> Be ready to elevate your sells and brand to a whole new level! </h3>
    <%= form_tag users_path, :class => 'form'  do %>
      <%= label :user, :fname, 'First Name', :class => 'col-form-label'  %>
      <%= text_field :user, :fname, :class => 'form-control' %>
      <%= label :user, :lname, 'Last Name', :class => 'col-form-label'  %>
      <%= text_field :user, :lname, :class => 'form-control' %>
      <%= label :user, :username, 'Username', :class => 'col-form-label'  %>
      <%= text_field :user, :username, :class => 'form-control' %>
      <%= label :user, :password, 'Password', :class => 'col-form-label'  %>
      <%= password_field  :user, :password, :class => 'form-control' %>
      <br/>
      <%= submit_tag 'Create Account', :class => 'btn yellow_col btn-lg ' %>
      <%= link_to 'Cancel', user_login_path, :class => 'btn gray_col btn-lg ' %>
    <% end %>
  <% end %>
</div>
