<style>

    .product_image {
        height: 120px;
        border-radius: 100px;
        width: 120px;
        object-fit: cover;
        border: 2px solid black;

    }

    .btn-toggle-colors {
        background-color: #797979;
        color: #fff;
        width: 100px;
        font-weight: bold;
    }


    .table-striped > tbody > tr:nth-child(2n+1) > td {
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(240,183,160,1) 0%, rgba(76,225,242,1) 0%, rgba(76,225,242,0.33967090254070376) 100%);
        font-weight: normal;

    }

    .table-striped > tbody > tr:nth-child(2n) > td {
        background-color: #333333;
        font-weight: normal;
        color: white;

    }

    .table-striped > tbody > tr:nth-child(2n) > td .product_image {
        border: 2px solid #F2C94C;

    }

    .table-striped > tbody > tr:nth-child(2n) > td .btn-toggle-colors {
        border: 2px solid #F2C94C;
        background-color: #F2C94C;
        color: #fff;
        font-color: #fff;
    }

    .sort_optn {
        color: black;
        text-decoration: none;
    }

    .outliner {
        border-top: 1px solid #c1c1c1;
        padding-top: 10px;
        width: 95%;
        margin: auto;
    }

</style>


<section id = "posts" />
<div class = "container-fluid">
  <div class = "pad-action" style = "padding-bottom: 50px; margin-top:10px;margin-left:5.1%;">
    <h1><b>User Testimonials</b></h1>
    </div>
    <div class = "row" style = "margin-left:6%; ">
    <% @posts.each do |p| %>
      <div class = "col-3" style="padding:20px">
      <div class = "my-auto"  style = "text-align: center;align-items: center;">
      <img src = "<%= p.image %>" class = "product_image"/>
    </div>
    <div class = "my-auto"  style = "padding-top:14%; text-align: center;align-items: center;">
      <span><b>"<%=p.title%></span></b><br />
    </div>
    <div class = "my-auto"  style = "text-align: center;align-items: center;">
      <span><i><%=p.message%>"</i></span><br />
    </div>

    <div class = "my-auto"  style = "text-align: center;align-items: center;">
      <span><a href="/users/<%= p.user_id %>" style="color: black; text-decoration: none;"><i>--<%=p.user.fname%></i></a></span><br />
    </div>
    <br><br/>
    </div>
    <% end %>
    </div>
  </div>
</div>
</section>